@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-300: #f0f2f6;
    --color-primary-400: #bbbdc6;
    --color-primary-500: #9b9b9b;
    --color-primary-600: #818697;
    --color-primary-900: #212529;

    --color-green: #1ab98f;
    --color-blue: #2b7fff;
    --color-orange: #ea9b79;
    --color-yellow: #f8d106;

    --font-sans: Ubuntu, sans-serif;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    body {
        @apply dark:text-white;
    }

    a {
        @apply dark:text-white rounded-sm;
    }

    img {
        @apply object-cover;
    }
}

@layer components {
    .component {
        @apply flex flex-col gap-y-12 px-4 py-8 sm:py-20 sm:px-8 lg:px-12 2xl:rounded-2xl 2xl:my-8 2xl:border 2xl:border-blue;
    }
}